# Ensure changes to these dependencies are reflected in pyproject.toml
attrs==23.1.0
bibtexparser==1.4.1
cattrs==23.2.3
defusedxml==0.7.0
ipykernel==6.20.1
markdown-it-py==3.0.0
mdit-py-plugins==0.4.2
nbconvert==7.1.0
numpy==1.24.3
path==16.14.0
papermill==2.6.0
pyiso4==0.1.6
pymupdf==1.23.7
pyyaml==6.0
requests==2.32.4
scipy==1.11.1
semver==3.0.0
stepup==3.0.3
svg.path==6.0
weasyprint==62.0
